*{
  box-sizing: border-box;
}

.carousel-item{
    border:1px solid rgb(85, 84, 84);
    height:100px;
    line-height:300px;
    text-align:center;
    background-color: black;
    
}

.carousel-inner{
  min-height: 80px;
}
 
.carousel-caption h5 {
    top: 80%;
    color: white;
}

.img_item{
  position: relative;
  width: 25%;
  height: auto; 
  top: 2%;
  left: 5%;
}

.navbar a{
  text-decoration:none;
  color:inherit;
  font-size:14px;
  } 

.navbar li{
  float: left;
  padding:5px 10px;
  background-color:#000;
  border:1px solid #000;
  text-align:center;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;  
  }
 
  
.navbar{
  display: flex;   
  height: 80px;
  background-color:black;
}

.navmenu{
  list-style: none; 
  width: 100%;
} 

.header2{
  display: flex;
  align-items: center; 
  height: 100px;
  background-color:black;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

  .fa-sharp:hover{
    color:  rgb(12, 245, 51);
    -webkit-transform:scale(1.6);transform:scale(1.6);
  }

  .fa-html5:hover{
  color:coral;
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-css3-alt:hover{
  color:  rgb(9, 127, 206);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-js:hover{
  color:  rgb(245, 230, 12);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-python:hover{
  color:  rgb(12, 218, 245);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

/* .fa-person:hover{
  color:  rgb(240, 20, 185);
  -webkit-transform:scale(1.6);transform:scale(1.6);
} */

.frase{
  display: block;
  background-color: #2b2732;
  color: white;
  font-style: italic;
  text-align: justify;
  padding: 12px;
}

.contenedor{
  display: flex ;
  flex-direction: row;
}

.box {
display: flex;
margin-top: 10px;
}

.box > * {
  flex: 1 0.5 1;   
}

.lado {
  width: 25%;
  flex: 0.5 1.5 auto;
  /* background-color: aqua; */
}

.central {
  width: 75%;
  flex: 1.5 0.5 auto;
  margin-left: 10%;
  /* background-color: bisque; */
}

.central > h3{
  text-align: center;
}

.central > p{
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
}


.central > ul{
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

.aside_img{
  max-width: 100%;
  margin-top: 5%;
}

