
/* CSS Resets */
*{
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%;
}


.ppal{
  width: 100%;
	margin: 5px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 5% 95%;
	grid-template-rows:  auto auto;
	grid-template-areas:  "frase  frase"
                        "navbar  central";
}

.ppal .central {
	grid-area: central;
}

.ppal .frase{
  grid-area: frase;
}


.ppal .navbar{
  width: 100%;
  height: 50px;
  grid-area: navbar;
}

.navbar a{
  text-decoration:none;
  color:inherit;
  } 

.navbar li{
  padding:15px 10px;
  background-color: white;
  text-align:center;
  color:#000;
  font-size: 1.1rem;  
  }
 
.navmenu{
  list-style: none;
} 

/* Nav menu Fontawasome hover efects*/
.fa-sharp:hover{
  color:  rgb(12, 245, 51);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-html5:hover{
color:coral;
-webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-css3-alt:hover{
  color:  rgb(9, 127, 206);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-js:hover{
  color:  rgb(245, 230, 12);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}

.fa-python:hover{
  color:  rgb(12, 218, 245);
  -webkit-transform:scale(1.6);transform:scale(1.6);
}


.frase{
  display: block;
  width: 97%;
  background-color: #2b2732;
  color: white;
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
  padding: 12px;
}

.central > h3{
  text-align: center;
}

.central > p{
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

.central > ul{
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

footer > h3{
  border-top:2px solid red;
  text-align: center;
}

@media (max-width:1100px){
  .ppal {grid-template-columns: 10% 90%;}
}

@media (max-width: 600px){
  .ppal { grid-template-columns: 95%;
          grid-template-rows:  50px auto auto;
          grid-template-areas: "navbar navbar" 
                              "frase  frase"
                              "central  central";
          margin: 15px;
        }
  .navmenu>li{
    display:inline;
    margin-right: 10px;
    padding: 0 2px;
  }      
  .navbar{
    border-top: #000 solid;
    border-bottom: #000 solid;}
      }